block style_css
    link(rel='stylesheet', href='../style/home/index_new.css')
extends common/index/layout
block container
    include common/index/banner
    .a_line
    .container
        .con-l.fl
            .con-tit
                i.ico21
                | 签约的家庭医生
                a.more(href="#") 更多医生>>
            .family_doctor
                include common/imgList