block style_css
    link(rel='stylesheet', href='../style/common/common2.css')
extends common/menage/layout-manageCenter
block container
    .container
        .linkMain
            span 你现在所在的位置：
            a(href="#",target="_blank") 我的管理中心
            | >
            a(href="#",target="_blank") 健康档案
            | >
            a(href="#",target="_blank")  管理基本档案
            | >
            span  儿童中医药健康管理服务
        .containerCont
            include common/menage/nav-sider
            .sideContainer

