.footer
      .footer_con &#x6DF1;&#x5733;&#x5E02;&#x7F51;&#x901A;&#x5174;&#x6280;&#x672F;&#x53D1;&#x5C55;&#x6709;&#x9650;&#x516C;&#x53F8; &#x7248;&#x6743;&#x6240;&#x6709; 2013-2018 ICP&#x5907;10016367&#x53F7;
        .footer_bottom
          p &#x5408;&#x5B57;8888-88888888 | &#x8425;&#x4E1A;&#x6267;&#x7167; | &#x4E92;&#x8054;&#x7F51;&#x836F;&#x54C1;&#x4FE1;&#x606F;&#x670D;&#x52A1;&#x8D44;&#x683C;&#x8BC1; | &#x4E92;&#x8054;&#x7F51;&#x836F;&#x54C1;&#x4EA4;&#x6613;&#x670D;&#x52A1;&#x8D44;&#x683C;&#x8BC1;
          .footer-logo
            //a(href='#', target='_blank')
            //  img(src='../images/footer-logo/footer-logo01.jpg')
            //a(href='#', target='_blank')
            //  img(src='../images/footer-logo/footer-logo02.jpg')
            //a(href='#', target='_blank')
            //  img(src='../images/footer-logo/footer-logo03.jpg')
            //
            //a(href='#', target='_blank')
            //  img(src='../images/footer-logo/footer-logo04.jpg')
            //
            //a(href='#', target='_blank')
            //  img(src='../images/footer-logo/footer-logo05.jpg')
            //
            //a(href='#', target='_blank')
            //  img(src='../images/footer-logo/footer-logo06.jpg')
            //
            //a(href='#', target='_blank')
            //  img(src='../images/footer-logo/footer-logo07.jpg')
            //
            //a(href='#', target='_blank')
            //  img(src='../images/footer-logo/footer-logo08.jpg')
            //
            //a(href='#', target='_blank')
            //  img(src='../images/footer-logo/footer-logo09.jpg')
    // footer end/
