doctype html(lang='en')
head
    meta(charset='#{json.charset}')
    title #{json.title}
    meta(name='keywords', content='')
    meta(name='description', content='')
    script(src='/vendor/jquery/1.11.3/jquery.min.js')
    script(src='../js/common/common.js')
    link(rel='stylesheet', href='../style/common/base.css')
    link(rel='stylesheet', href='../style/common/common.css')
    block style_css
body
    block containerAllFlex
script

