.header
    .global_w
        .h_logo.fl
            a(href="index.html")
                img(src="../images/logo.png")
            i
        .fr.con_nav
            ul
                li.cur
                    a(href="index.html")
                        i.ico11
                        | 首页
                li
                    a(href="doctor/doctor.html")
                        i.ico12
                        | 找医生
                li
                    a(href="#")
                        i.ico13
                        | 找医院
                li
                    a(href="#")
                        i.ico15
                        | 健康教育
                li
                    a(href="#")
                        i.ico16
                        | 我的健康中心
