.headerNav
    .headContant
        .logo
            a(href="#",target="_blank")
        ul.nav.pullDowm
            li
                a.list(href="#",target="_blank")
                    i.icon-icon-77
                    span 个人中心首页
            li.list
                a(href="#",target="_blank")
                    i.icon-icon-78
                    span 账户设置
                dl
                    dd
                        a(href="#",target="_blank")
                            span 基本资料
            li
                a(href="#",target="_blank")
                    i.icon-icon-79
                    span 消息
